.sec_sp {
    margin-bottom: calc(3rem + 5.128vw)
}

.table td,
.table th {
    color: var(--text-color);
}

.t_border {
    border-color: var(--text-color) !important;
}

.progress-title {
    font-size: 16px;
    font-weight: 700;
    margin: 15px 0 20px;
    font-family: 'Raleway';
}

.progress {
    height: 5px;
    background: var(--secondary);
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible;
}

.progress .progress-bar {
    position: relative;
    background: var(--text-color);
    animation: animate-positive 2s;
    overflow: visible;
    opacity: 0.9;
}

.progress .progress-value {
    position: absolute;
    top: -30px;
    right: 8px;
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    color: var(--text-color);
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0%;
    }
}

@keyframes animate-positive {
    0% {
        width: 0%;
    }
}
.course_header {
    border-bottom: 3px;
}

.section-title {
    font-size: 45px;
}

.service__title {
    padding: 8px 0;
    font-weight: 800;
    border-bottom: solid 2px var(--secondary-color);
}

.service-section .service-category-title {
    padding-bottom: 4px;
}
.about_me{
    font-size: 20px;
}
.tech_wrapper{
   display: flex; /* Tailwind's flex */
  flex-wrap: wrap; /* Tailwind's flex-wrap */
  flex-direction: row;
  justify-content: center; /* Tailwind's justify-center */
  gap: 4rem; /* Tailwind's gap-10 (40px) */
  margin-top: 3.5rem; /* Tailwind's mt-14 (56px) */
}
.skill_ball_wrapper{
    width:6vw;
    height:6vw;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.skill_ball{
    width:5vw;
    height:5vw;
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.skill_title{
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}

.resume_link{
    display:flex;
    flex-direction: row;
    border-radius: 3px;
    background-color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 10vw;
    gap:1vw;
}

.paperclip_icon{
    color:var(--primary-color);
    /* height: 3vh;
    width:3vw; */

}

.resume_title{
    color:var(--primary-color);
}
/*! CSS Used keyframes */

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}